.description-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f6f8fa;
    width: 90%;
    max-width: 1500px;
    max-height: 1200px;
    height: 40%;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
 
  
  .section {
    margin-bottom: 20px;
  }
  
  .section-title {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 10px;
    color: #192029;
  }
  
  .section-content {
    font-size: 1.4rem;
    color: #24292e;
  }
  
  .preview {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 20px;
  }
  
  .close {
    position: absolute;
    top: 1px;
    right: 10px;
    cursor: pointer;
    font-size: 1.8rem;
    color: #586069;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
  }
  
  .popup-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000000;
    position: relative; /* Set position relative */
  }
  
  .popup-tag {
    position: absolute; /* Set position absolute */
    top: 80%; /* Adjust top position */
    right: 50px; /* Adjust right position */
    background-color: #0366d6;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.9rem;
  }
  
  .popup-tag:hover {
    background-color: #0645ad;
    transition: 0.5s;
  }
    
  
  .popup-description {
    margin-top: 10px;
    font-size: 1.4rem;
  }

  .popup-url {
    color: #0366d6; /* Default color */
    text-decoration: none;
    padding: 3px 5px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .popup-url:hover {
    background-color: rgb(213, 109, 12); /* Color change on hover */
  }
 
  
  .resource-card {
    background-color: #333;
    color: white;
    border-radius: 12px;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .resource-card:hover {
    transform: translateY(-5px);
  }
  
  .tag {
    font-weight: bold;
  }
  
  .content {
    margin-top: 10px;
  }
  
  .title {
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  .description {
    font-size: 1.1rem;
    margin-bottom: 50px;
    margin-left: 1px;
  }
  
  .learn-more-btn {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 100;

  }
  
  .learn-more-btn:hover {
    background-color: #222;
  }
  